{% extends "base.html" %}

{% block content %}
    {% include "_post.html" with post=post only %}
    <hr>
    <h4>Comments</h4>
    {% for comment in post.comment_set.all %}
        <p><em>Posted by {{ comment.name }}</em></p>
        {{ comment|linebreaks }}
    {% empty %}
        No comments yet.
    {% endfor %}
    <h5>Add a comment</h5>

    <form method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Create Comment">
    </form>
{% endblock %}
